<% layout('layouts/boilerplate') %>
<div id="cluster-map" style="width:100%; height:500px"></div>
<h1>All Campgrounds</h1>
<% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if(campground.images.length > 0) { %>
                <img class="img-fluid" src="<%= campground.images[0].url %>" alt="camp-image">
                <% } else { %>
                    <!-- if campground have no image then set it to some default image -->
                    <img class="img-fluid" src="https://res.cloudinary.com/dkrwyznvg/image/upload/v1627387531/YelpCamp/d4fudzhkogcyyhvizofg.jpg" alt="camp-image">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<!-- Handing data from back-end to client-end(to clusterMap.js) -->
<script>
    const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
    const campgrounds = { features: <%- JSON.stringify(campgrounds) %> }; // as mapbox clustermap expects source data as a geoJSON with an array under a key named "features"
</script>

<script src="/javascripts/clusterMap.js"></script>