<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <% if(campground.images.length > 0) { %>
                <img class="img-fluid" src="<%= campground.images[0].url %>" alt="camp-image">
                <% } else { %>
                    <!-- if campground have no image then set it to some default image -->
                    <img class="img-fluid" src="https://res.cloudinary.com/dkrwyznvg/image/upload/v1627387531/YelpCamp/d4fudzhkogcyyhvizofg.jpg" alt="camp-image">
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>